.wl-plugin-button
{
	position: absolute;
	width: 1px;
	height: 1px;
}
a.wl-plugin-button > div
{
	width: 20px;
	height: 20px;
	margin-top: -20px;
	background-image: url('../../../img/icons/brick_edit.png');
}
.wl-plugin-highlighted, .wl-plugin-highlighted *
{
	background-color: #C3FDB8 ! important;
	background-image: none ! important;
}