.wikiLingo-container {
    text-align: center;
    display: table-cell;
    position: absolute;
    display: none;
}
.wikiLingo-bubble, .wikiLingo-bubble li {
    transition: all 250ms ease-in-out 0s;
}

.wikiLingo-bubble {
    border-color: rgba(0, 0, 0, 0.9) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-style: solid;
}
.wikiLingo-bubble, .wikiLingo-bubble ul {
	padding: 0px;
    padding-top: 4px;
    margin: 0;
    border-width: 2px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.9);
}
.wikiLingo-bubble > li {
    opacity: 0.7;
    margin-left: 3px;
	margin-right: 3px;
}

/*setup animation*/
.wikiLingo-bubble li:hover {
    opacity: 0.90;
}
/*end animation*/

.wikiLingo-bubble > ul > li {
    display: block;
    position: relative;
    float: left;
    margin-right: 3px;
}

.wikiLingo-bubble li {
    cursor: pointer;
}

.wikiLingo-bubble button, .wikiLingo-bubble-minimize {
    float: left;
    border: 0 none;
    color: inherit;
    cursor: pointer;
    background-color: transparent;
}

.wikiLingo-bubble-minimize {
    opacity: 1;
}

.wikiLingo-bubble-minimize:first-child {
    margin-top: 30px;
    margin-left: -6px;
}
.wikiLingo-bubble-minimize {
    width: auto;
    display: none;
}
.wikiLingo-bubble-minimize > li {
    margin-top: 3px;
    border-color: rgba(0, 0, 0, 0.9) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-style: solid;
    border-top: none;
}

.wikiLingo-bubble-point {
    position: relative;
    color: rgba(0, 0, 0, 0.9);
    width: 100%;
	font-size: 15px;
    top: -8px;
    cursor: pointer;
}

.hide {
    overflow: hidden;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    opacity: 0;
}
.show {
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    max-height: 1000px;
    overflow: hidden;
    opacity: 1;
}

.drag {
	width: 20px;
	height: 20px;
	position: absolute;
	opacity: 0.7;
	margin-top: -20px;
	border: none;
	cursor: move;
	border: none;
	background-color: #99CCFF;

	/* Safari 3-4, iOS 1-3.2, Android 1.6- */
	-webkit-border-top-left-radius: 12px;
	-webkit-border-top-right-radius: 12px;

	/* Firefox 1-3.6 */
	-moz-border-top-left-radius: 12px;
	-moz-border-top-right-radius: 12px;

	/* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

.draggable {
	background-color: #99CCFF;
}

.representation {
	border: rgba(0, 0, 0, 0.9) dashed 5px;
	position: absolute;
}

img.drag::selection { background: transparent; }
img.drag::-moz-selection { background: transparent; }