/*start styling*/

.wikiLingo-bubble {
    font-family: Arial, Helvetica, sans-serif;
}
.wikiLingo-bubble ul {
    color: #FFFFFF;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.9);
}
.wikiLingo-bubble > ul {
    background-color: rgba(0, 0, 0, 1);
	-moz-box-shadow:    0px 3px 3px 3px rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, .1);
	box-shadow:         0px 3px 3px 3px rgba(0, 0, 0, .1);
    border-color: rgba(0, 0, 0, 0.9) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 5px;
}

.wikiLingo-bubble-static {
    opacity: 0.5;
}
.wikiLingo-bubble-static > ul {
    border-width: 0px ! important;
    border-bottom-right-radius: 0px ! important;
    border-top-right-radius: 0px ! important;
    padding: 0px ! important;
}

.wikiLingo-bubble > ul > li {
    margin: 2px;
}
.wikiLingo-bubble > ul > li > ul {
    margin-top: -7px;
    margin-left: -7px;
}

.wikiLingo-bubble > ul > li > ul > li {
    clear: both;
    display: block;
    margin: 6px;
}
.wikiLingo-bubble * {
    cursor: pointer;
}

.wikiLingo-bubble button, .wikiLingo-bubble-minimize {
    color: inherit;
    cursor: pointer;
    background-color: transparent;
}

.wikiLingo-bubble > li > ul > li {
    border-color: rgba(0, 0, 0, 0.9) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-style: solid;
    border: none;

}

.wikiLingo-bubble-point {
    position: relative;
    color: rgba(0, 0, 0, 0.9);
    width: 100%;
	font-size: 15px;
    cursor: pointer;
    top: 61px;
}

.hide {
    overflow: hidden;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    opacity: 0;
}
.show {
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    max-height: 1000px;
    opacity: 1;
}

.drag, .edit {
	width: 25px;
	height: 25px;
	position: absolute;
	border: none;
	border: none;
	background-color: rgba(200, 200, 200, .75);

	margin-top: -25px;
}
.drag {
    cursor: move;
	-webkit-border-top-left-radius: 6px;
	-moz-border-top-left-radius: 6px;
	border-top-left-radius: 6px;
}
.edit {
    cursor: pointer;
	-webkit-border-top-right-radius: 6px;
	-moz-border-top-right-radius: 6px;
	border-top-right-radius: 6px;
}

.element {
	-moz-box-shadow:    0px 0px 0px 0px rgba(0, 0, 0, 0);
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
	box-shadow:         0px 0px 0px 0px rgba(0, 0, 0, 0);
}

.focused {
	transition:         all 500ms ease-in-out 0s;
	-moz-box-shadow:    0px 0px 3px 4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 0px 3px 4px rgba(0, 0, 0, 0.2);
	box-shadow:         0px 0px 3px 4px rgba(0, 0, 0, 0.2);
}

.representation {
	border: rgba(0, 0, 0, 0.9) dashed 5px;
	position: absolute;
}

img.drag::selection { background: transparent; }
img.drag::-moz-selection { background: transparent; }

/*setup animation*/
.wikiLingo-bubble > ul > li {
    opacity: 0.7;
}
.wikiLingo-bubble * {
    transition: all 250ms ease-in-out 0s;
}
.wikiLingo-bubble > ul > li:hover {
    opacity: 0.90;
}
.wikiLingo-bubble > ul > li ul {
    opacity: 0.25;
}
.wikiLingo-bubble > ul > li ul:hover {
    opacity: 1;
}
/*end animation*/

/*menu innards*/
nav.wikiLingo-bubble {
    text-align: center;
    display: block;
    position: absolute;
    border: none;
}
nav.wikiLingo-bubble ul ul {
    display: none;

}
nav.wikiLingo-bubble ul li:hover > ul {
    display: block;
}
nav.wikiLingo-bubble ul {
    border-radius: 10px;
    display: inline-table;
    list-style: none outside none;
    padding: 0 10px;
    position: relative;
}
nav.wikiLingo-bubble ul:after {
    clear: both;
    content: "";
    display: block;
}
nav.wikiLingo-bubble ul li {
    float: left;
}
nav.wikiLingo-bubble ul li:hover a {
}
nav.wikiLingo-bubble a {
    display: block;
    padding: 5px;
    text-decoration: none;
}
nav.wikiLingo-bubble ul ul {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0;
    position: absolute;
    top: 100%;
}
nav.wikiLingo-bubble ul ul li {
    float: none;
    position: relative;
}
nav.wikiLingo-bubble ul ul li a {
    padding: 10px;
}
nav.wikiLingo-bubble ul ul ul {
    left: 100%;
    position: absolute;
    top: 0;
}